#elipse1 {
  position: absolute;
  width: 228px;
  height: 129px;
  left: 130px;
  top: 129.98px;

  background: #d71f26;
  filter: blur(64px);
}

#elipse2 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 65px;
  top: 208.98px;

  background: #f1d302;
  filter: blur(64px);
}

#elipse3 {
  position: absolute;
  width: 228px;
  height: 129px;
  left: 35%;
  top: 500px;

  background: #d71f26;
  filter: blur(64px);
}

#elipse4 {
  position: absolute;
  width: 171.94px;
  height: 100px;
  left: 67.58px;
  top: 660.72px;

  background: #f1d302;
  filter: blur(64px);
}

#elipse5 {
  /* Ellipse 5 */

  position: absolute;
  width: 100px;
  height: 100px;
  left: 873.19px;
  top: 400px;

  background: #f1d302;
  filter: blur(64px);
}

#vector {
  position: absolute;
  top: 64%;
}
